.user-box {
  border: 1px solid;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  margin: 2em;
}

.user-container {
  display: flex;
}

.loader {
  font-size: 50px;
  color: red;
  font-weight: 900;
  text-align: center;
}
